section {
    color: white;
    border: 2px solid red;
    width: 20%;
}

section article {
    text-align: center;
}

.image-container {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.image-container img {
    width: 100%;
    height: auto;
}

button {
    margin-bottom: 24px;
    padding: 6px 12px;
    background: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
}

button:hover {
    background: red;
    color: black;
    border: 1px solid red;
}

button:active {
    background-color: darkslategray;
}